#Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

#PEM Files
*.pem
*.pem-old
*.pem-backup
*.pem:Zone.Identifier


# Terraform plan files
*.tfplan
*.tfplan.json
tfplan
tfplan.json
aws-bckup/tfplan.json

#Terraform variable files
*.tfvars
*.tfvars.json

#Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

#Terraform CLI config
.terraformrc
terraform.rc

# OS/editor files
.DS_Store
.vscode
.idea/
